{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
